<h2>Example Component</h2>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Judul</th>
        <th>Rilis</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody *ngIf="data">
      <tr *ngFor="let item of data">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.released }}</td>
        <td>
            <button (click)="onDetail(item)">lihat detail</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p>Page: {{page}}</p>

  <button (click)="onNextPage()" [disabled]="isLoading">Next</button>
  <button (click)="onNextPrev()" [disabled]="isLoading">Prev</button>