<h1>About Page</h1>

<Button (click)="onIncrement()">tambah</Button>
<Button (click)="onDecrement()">kurang</Button>

<p>{{counter}}</p>

<p 
*ngIf="counter > 5"
[ngClass]="{ 'warnaMerah': counter > 8 }"
> lebih dari 5 gan</p>
<app-about-list></app-about-list>