<div *ngIf="paramData.itemName && paramData.quantity">
    <h2>Service Page</h2>
    <p>Item Name: {{ paramData.itemName }}</p>
    <p>Quantity: {{ paramData.quantity }}</p>
  </div>
  
  <div *ngIf="!paramData.itemName || !paramData.quantity">
    <h2>Data is Empty</h2>
  </div>