<div [ngClass]="'containerChild'">
    <h3>Child Component</h3>
    <p>Data dari Parent Component: {{ dataParent }}</p>
    <button (click)="updateData('mantul gan')">kirim data ke parent</button>
</div>