<div [ngClass]="'containerParent'">
    <input [(ngModel)]="nama" placeholder="Masukkan Nama" />
    <p>data yang diinput adalah = {{nama}}</p>
</div>

<app-produk-detail
[dataParent]="nama" 
(dataUpdated)="onDataUpdated($event)"></app-produk-detail>
