<ul>
    <li *ngFor="let about of aboutLists">
      <div>{{ about.stock }}</div>
      <div>{{ about.name }}</div>
      <button (click)="onTambah(about)">+</button>
      <div>{{ about.cart }}</div>
      <button (click)="onKurang(about)">-</button>
      <button (click)="onSubmit(about)">bayar</button>
      <div *ngIf="about.cart >= about.stock">stock tersedia hanya {{about.stock}}</div>
    </li>
  </ul>